<aside class="aside-cb">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore rerum quaerat est incidunt dolores corrupti ex atque quas delectus qui maiores in tenetur temporibus, laborum quam, natus possimus beatae! Enim.
</aside>
