<blockquote>
  <p class="mb-sm">Whatever the mind of man can conceive and believe, it can achieve.</p>
  <footer>Someone famous in <cite title="Napoleon Hill">Napoleon Hill</cite></footer>
</blockquote>