<header class="app-header p-md bg-dark">
  <a href="/" class="app-header__logo">
    <img src="/images/logo.png" alt="Paymentwall">
  </a>
  <button class="app-header__toggle d-lg-none" id="hamburger">
    <i class="fa fa-bars fa-lg"></i>
  </button>

  <a href="/" class="text-muted text-small ml-auto mr-md d-none d-lg-block">Don't have a PW Account?</a>
  <button class="btn btn--secondary d-none d-lg-block">Sign up</button>
</header>