<div class="mb-md">
  <input type="text" class="form__control" placeholder="Text input" />
</div>
<div class="mb-md">
  <input type="email" class="form__control" placeholder="Email input" />
</div>
<div class="mb-md">
  <input type="password" class="form__control" placeholder="Password input" />
</div>
<div class="mb-md">
  <input type="number" class="form__control" placeholder="Number input" />
</div>
