<label for="03-radio-1">
  <input type="radio" id="03-radio-1" name="03-radio"> <span>Radio 1</span>
</label>
<label for="03-radio-2">
  <input type="radio" id="03-radio-2" name="03-radio"> <span>Radio 2</span>
</label>
<label for="03-radio-3">
  <input type="radio" id="03-radio-3" name="03-radio"> <span>Radio 3</span>
</label>
