<label for="03-checkbox-1">
  <input type="checkbox" id="03-checkbox-1" name="03-checkbox"> <span>Checkbox 1</span>
</label>
<label for="03-checkbox-2">
  <input type="checkbox" id="03-checkbox-2" name="03-checkbox"> <span>Checkbox 2</span>
</label>
<label for="03-checkbox-3">
  <input type="checkbox" id="03-checkbox-3" name="03-checkbox"> <span>Checkbox 3</span>
</label>
