<nav class="nav">
  <section class="mb-lg">
    <h3 class="nav__title">Payalto</h3>
    <ul class="nav__list">

      <li class="nav__item">
        <a href="/" class="nav__link is-active">Digital Goods</a>
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Stored widget call</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Non-stored Widget call</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Options Parameters</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Virtual Currency</a>
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Widget Call</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Callback</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Pingback processing</a>
        <ul class="nav__sub-list">
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Introduction</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">HTTP Pingback</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Email pingback</a>
          </li>
          <li class="nav__sub-item">
            <a href="/" class="nav__sub-link">Expect Response</a>
          </li>
        </ul>
      </li>

    </ul>
  </section>

  <section class="mb-lg">
    <h3 class="nav__title">Brick</h3>
    <ul class="nav__list">

      <li class="nav__item">
        <a href="/" class="nav__link">Create onetime token</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Charge</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Subscription</a>
      </li>

    </ul>
  </section>


  <section class="mb-lg">
    <h3 class="nav__title">Mint</h3>
    <ul class="nav__list">

      <li class="nav__item">
        <a href="/" class="nav__link">Get Epin</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Get Balance</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Get avaliable balance</a>
      </li>

      <li class="nav__item">
        <a href="/" class="nav__link">Redemption</a>
      </li>

    </ul>
  </section>

  <section class="mb-lg">
    <h3 class="nav__title">Mobiamo</h3>
    <ul class="nav__list">

      <li class="nav__item">
        <a href="/" class="nav__link">Price points</a>
      </li>

    </ul>
  </section>

  <section class="mb-lg">
    <h3 class="nav__title">Tool api</h3>
    <ul class="nav__list">

      <li class="nav__item">
        <a href="/" class="nav__link">Bridge OAuth</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Cancellation</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Coupons</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Delivery Confirmation</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Invoice</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Payment Status</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Payment System</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Product Details</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">Reporting</a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">User Profile</a>
      </li>

    </ul>
  </section>

</nav>