.btn {
  display: inline-block;
  padding: $space-sm $space-md;

  font-size: $font-size-small;
  font-weight: $font-weight-base;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  vertical-align: middle;
  user-select: none;
  border-radius: $border-radius;
  transition: $anim-speed-quick background-color $anim-ease;

  @include border;
  @include hover-focus {
    text-decoration: none;
  }

  $buttons-variant: (
    primary: $color-8,
    secondary: $color-secondary,
    danger: $color-danger
  );

  @each $button, $bg in $buttons-variant {
    &--#{$button} {
      color: $color-white;
      background-color: $bg;

      @include hover-focus {
        background-color: darken($bg, 5%);
      }
    }
  }

  &--link {
    padding: 0;

    background-color: transparent;
  }
}
