.btn {
  display: inline-block;
  padding: $space-sm $space-md;

  font-size: $font-size-small;
  font-weight: $font-weight-base;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  vertical-align: middle;
  user-select: none;
  border-radius: $border-radius;
  transition: $anim-speed-quick background-color $anim-ease;

  @include border;
  @include hover-focus {
    text-decoration: none;
  }

  &--primary {
    color: $color-3;
    background-color: $color-8;

    @include hover-focus {
      background-color: darken($color-8, 5%);
    }
  }

  &--secondary {
    color: $color-6;
    background-color: transparent;

    @include border(1px, $color-6);
  }

  &--link {
    padding: 0;

    background-color: transparent;
  }
}
