// stylelint-disable primer/selector-no-utility
// Background colors
.bg-danger {
  background-color: $color-danger;
}

.bg-gray {
  background-color: $color-gray-50;
}

.bg-dark {
  background-color: $color-1;
}

.bg-white {
  background-color: $color-3;
}
