<aside class="sidenav item-no-shrink" id="sidenav">
  <div class="d-flex justify-content-end mb-md d-lg-none">
    <button class="btn btn--link text-body" data-nav="close">
      <i class="fa fa-times fa-2x"></i>
    </button>
  </div>

  <div class="d-flex align-items-center mb-md d-lg-none">
    <button class="btn btn--primary mr-md">Sign up</button>
    <a href="/" class="text-small text-body">Don't have a PW Account?</a>
  </div>

  {{> molecules-nav}}
</aside>